/*** Colmar Academy - Landing Page ***/

/* Global Settings */

* {
  box-sizing: border-box;
}

/* Add temporary borders to elements during layout */
div, ul, li, header, footer, nav, section {
	border: 1px solid darkgreen;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  /* background-color: #dddddd; */
}

h1 {
  font-family: "Roboto Slab", "Lucida Bright", serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 0.966;
}

h2 {
  font-family: "Roboto Slab", "Lucida Bright", serif;
  font-size: 2.1rem;
  font-weight: 700;
}

h3 {
  font-family: "Roboto Slab", "Lucida Bright", serif;
  font-size: 1.175rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.044em;
  word-spacing: 0.06em;
  line-height: 1.21;
}

h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.91rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.0308em;
}

p {
  line-height: 1.313;
}

a {
  font-weight: 500;
  text-decoration: none;
}

nav a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.0308em;
}

.bold {
  font-weight: bold;
}

#content-wrap {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #aaaaaa; */
}

section {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-wrap {
  margin-left: 1.5rem;
  display: flex;
}

.media {
  width: 60%;
  padding-right: 1.5rem;
}

.media > video, .media > img, #curriculum img {
  width: 100%;
  height: auto;
}

.supporting-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.article-card {
  width: 100%;
  padding: 1rem 0.5rem 1rem 1rem;
  display: flex;
  align-items: center;
}

.article-card img {
  width: 35%;
  min-width: 120px;
  height: auto;
}

.article-card .mobile-image {
  display: none;
}

.description-wrap {
  width: 65%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-wrap p {
  margin: 0.5rem 0;
  font-style: italic;
}

/* Header */

header .desktop, header .mobile {
  width: 100%;
  max-width: 1280px;
  height: 4rem;
  padding: 0 1.5rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.org-id {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Lucida Bright", Arial;
  letter-spacing: 0.066em;
}

header .desktop #name-1 {
  padding-right: 0.066em;
  font-weight: 700;
  color: black;
}

header .desktop #name-2 {
  font-weight: 300;
  color: #999999;
}

header .mobile {
  display: none;
}

.desktop img {
  width: auto;
  height: 2.5rem;
}

.desktop nav {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.desktop nav a {
  margin-left: 1rem;
}

/* Intro Section */

#intro {
  padding-top: 6rem;
  /* This lowers the Intro section, allowing
     room for the fixed header at top of page. */
}

#intro .supporting-info {
  justify-content: center;
  padding-right: 10rem;
}

#intro h2 {
  font-weight: 400; 
}

#intro h3 {
  margin: 0.85rem 0 1.25rem 0;
  font-weight: 400;
  text-transform: lowercase;
}

#intro a {
  padding: 0.5rem;
  background-color: #666666;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Campus Life Section */

#campus-life .media h2 {
  margin: 2rem 0 1.5rem 0;;
}

#campus-life .media p {
  margin: 1rem 0;
  font-style: italic;
}

#campus-life .article-card a {
  margin-top: 0.5rem;
}

/* Curriculum Section */

#curriculum {
  padding: 1rem 3.5rem;
}

#curriculum h2 {
  margin: 1rem 0;
}

.catalog-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  min-width: 25%;
  max-width: 342px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: center;
}

.course-card h4 {
  margin: 0.5rem 0;
}

.course-card p {
  font-style: italic;
}

/* Achievement Section */

#achievement h2 {
  margin-bottom: 2rem;
}

#achievement .media h3 {
  margin-top: 1.5rem;
}

#achievement .media p {
  margin: 0.5rem 0 0 0;
  font-style: italic;
}

.description-wrap p {
  margin-bottom: 0;
}

/* Footer */

footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

footer nav a {
  margin-left: 0.75rem;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
  section {
    padding: 1rem;
  }

  section h2 {
    margin-bottom: 1.5rem;
  }  

  .feature-wrap {
    margin: 0;
  }
  
  .article-card {
    padding: 0;
    display: block;
    border: 1px solid skyblue;
  }
  
  .article-card img {
    width: 100%;
    height: auto;
  }
  
  .article-card .mobile-image {
    display: block;
  }
  
  .article-card .desktop-image {
    display: none;
  }
  
  .description-wrap {
    width: 100%;
    padding: 1rem 0 2rem 0;
  }  
}

@media only screen and (max-width: 600px) {
  header .mobile {
    display: flex;
    justify-content: space-around;
  }  

  header .desktop {
    display: none;
  }

  #achievement .media {
    width: 100%;
    padding: 0;
  }
  
  #achievement .supporting-info {
    display: none;
  }

@media only screen and (max-width: 450px) {
  section {
    padding: 0;
  }

  .feature-wrap {
    flex-direction: column;
  }

  .media {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  .supporting-info {
    width: 100%;
  }
}  
